/cmake_install.cmake
/output/
/*~
/step-fsi
/Makefile
/CMakeCache.txt
/CMakeFiles
/cracks
/cmake-build-debug
/cmake-build-debug-docker
/build*/
/default.prm
post_process.ipynb
/ref
/plots
.SynologyWorkingDirectory
main
.idea
cmake-build-debug
.vscode
/test
